NEXTAUTH_URL=
NEXTAUTH_SECRET=
ZITADEL_ISSUER=
ZITADEL_CLIENT_ID=
ZITADEL_CLIENT_SECRET=
ZITADEL_AUDIENCE=
BIDS_TRACKER_API_URL=
BIDS_TRACKER_API_TOKEN=
VISION_API_URL=
VISION_API_TOKEN=
VISION_INTEGRATION_KEY=
NEXT_PUBLIC_API_BASE_URL=
